<div class="row">
  <div class="col-lg-12 no-padding">
    <div class="wrapper wrapper-content white-bg">
      <div class="row">
        <div class="col-lg-12 no-padding">
          <div class="col-lg-3">
            <button type="button" class="btn btn-default width-75 m-r-sm">Women</button>
            <button type="button" class="btn btn-default width-75 m-r-sm">Men</button>
            <div class="dropdown inline-block">
              <button class="btn btn-default width-75 text-left-align dropdown-toggle" type="button"
                data-toggle="dropdown">Kids
                <span class="caret dropdown-position"></span></button>
              <ul class="dropdown-menu">
                <li><a>Boys</a></li>
                <li><a>Girls</a></li>
                <li><a>Baby</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="dropdown inline-block">
              <button class="btn btn-default width-150 m-r-sm dropdown-toggle" type="button"
                data-toggle="dropdown">Country
                <span class="caret dropdown-position"></span></button>
              <ul class="dropdown-menu">
                <li *ngFor="let ctry of country"><a (click)='changeCountry(ctry.id)'>{{ctry.display}}</a></li>
              </ul>
            </div>
            <div class="dropdown inline-block">
              <button class="btn btn-default width-150 m-r-sm dropdown-toggle" type="button"
                data-toggle="dropdown">Category
                <span class="caret dropdown-position"></span></button>
              <ul class="dropdown-menu">
                <li><a>HTML</a></li>
                <li><a>CSS</a></li>
                <li><a>JavaScript</a></li>
              </ul>
            </div>
            <div class="dropdown inline-block">
              <button class="btn btn-default width-150 m-r-sm dropdown-toggle" type="button" data-toggle="dropdown">Sub
                Category
                <span class="caret dropdown-position"></span></button>
              <ul class="dropdown-menu">
                <li><a>HTML</a></li>
                <li><a>CSS</a></li>
                <li><a>JavaScript</a></li>
              </ul>
            </div>
            <div class="dropdown inline-block">
              <button class="btn btn-default width-120 m-r-sm dropdown-toggle" type="button" data-toggle="dropdown">Age
                <span class="caret dropdown-position"></span></button>
              <ul class="dropdown-menu">
                <li><a>HTML</a></li>
                <li><a>CSS</a></li>
                <li><a>JavaScript</a></li>
              </ul>
            </div>
            <div class="dropdown inline-block">
              <button class="btn btn-default width-120 m-r-sm dropdown-toggle" type="button" data-toggle="dropdown">Size
                <span class="caret dropdown-position"></span></button>
              <ul class="dropdown-menu">
                <li><a>HTML</a></li>
                <li><a>CSS</a></li>
                <li><a>JavaScript</a></li>
              </ul>
            </div>
            <div class="dropdown inline-block">
              <button class="btn btn-default width-120 m-r-sm dropdown-toggle" type="button"
                data-toggle="dropdown">Fabric
                <span class="caret dropdown-position"></span></button>
              <ul class="dropdown-menu">
                <li><a>HTML</a></li>
                <li><a>CSS</a></li>
                <li><a>JavaScript</a></li>
              </ul>
            </div>
            <div class="dropdown inline-block">
              <button class="btn btn-default width-120 dropdown-toggle" type="button" data-toggle="dropdown">Color
                <span class="caret dropdown-position"></span></button>
              <ul class="dropdown-menu">
                <li><a>HTML</a></li>
                <li><a>CSS</a></li>
                <li><a>JavaScript</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 box-heading">
    Voice of Store
  </div>
  <div class="col-lg-12 no-padding">
    <div class="col-lg-3 box-color border-all no-padding-right no-padding-left">
      <div class="sub-heading">Improvements</div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5 text-overflow" title="420110 Cotton Relax Fit Crew Neck Long-Sleeve T-Shirt">1 &nbsp;
          420110 Cotton Relax Fit Crew Neck Long-Sleeve T-Shirt</div>
        <div class="col-lg-3">XS Size &nbsp; 34</div>
        <div class="col-lg-4">
          <div class="progress">
            <div class="progress-bar progress-cus" role="progressbar" style="width:60%">
              40
            </div>
            <div class="progress-bar progress-red" role="progressbar" style="width:40%">
              10
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">2 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">3 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
    </div>
    <div class="col-lg-3 box-color border-all no-padding-right no-padding-left">
      <div class="sub-heading">Non-Purchase(Tried)</div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">1 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">2 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">3 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
    </div>
    <div class="col-lg-3 box-color border-all no-padding-right no-padding-left">
      <div class="sub-heading">Without Future</div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">1 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">2 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">3 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
    </div>
    <div class="col-lg-3 box-color border-all no-padding-right no-padding-left">
      <div class="sub-heading">New Suggestion</div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">1 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">2 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">3 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
    </div>
  </div>
</div>
<br>
<!-- <mat-table #table [dataSource]='dataSource' matSort class="white-bg">

  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table> -->