h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
h3,
h4,
h5 {
    margin-top: 5px;
    font-weight: 600;
}

// $h1-font-size:( null:32px, 480px:32px, 640px:32px, 760px:40px, 1024px:48px);
// $h2-font-size:( null:26px, 480px:26px, 640px:26px, 760px:32px, 1024px:36px);
// $h3-font-size:( null:22px, 480px:22px, 640px:22px, 760px:24px, 1024px:28px);
// $h4-font-size:( null:18px, 480px:18px, 640px:18px, 760px:18px, 1024px:18px, );
// $h5-font-size:( null:14px, 480px:14px, 640px:14px, 760px:14px, 1024px:14px);
// $h6-font-size:( null:12px, 480px:12px, 640px:12px, 760px:12px, 1024px:12px);
// @mixin font-size($fs-map) {
//     @each $fs-breakpoint,
//     $fs-font-size in $fs-map {
//         @if $fs-breakpoint==null {
//             font-size: $fs-font-size;
//         }
//         @else {
//             @media screen and (min-width: $fs-breakpoint) {
//                 font-size: $fs-font-size;
//             }
//         }
//     }
// }

// h1 {
//     @include font-size($h1-font-size);
// }

// h2 {
//     @include font-size($h2-font-size);
// }

// h3 {
//     @include font-size($h3-font-size);
// }

// h4 {
//     @include font-size($h4-font-size);
// }

// h5 {
//     @include font-size($h5-font-size);
// }

// h6 {
//     @include font-size($h6-font-size);
// }