
// Basic Colors
$navy: #1ab394; // Primary color - u
$lazur: #23c6c8; // Info color -na
$dark-gray: #c2c2c2; // Default color -na
$blue: #1c84c6; // Success color - u

//#yellow two time repeted with Alert need to Check
$grey: #f9f9f9;
$yellow: #FDBF68; // Warrning color
$red: #C72536; // Danger color
$alert: $yellow; // Alert color
$green: #18A689; // - u
$dark-green: #409689;
$count-green: #1DC09F; // For count box - na
$vetahealth-green: #1ab394;
$vetahealth-blue: #4a90e2;
$white: #ffffff; // - u#f5f6f7
$normal-gray: #747372; // Color code for left status bar - u
$light-grey: #aaaaaa; // Color for the Carousel - u - check
$dnr-gray: #cccccc;

// Various colors
$text-color: #676a6c; // Body text - na
$gray: #f3f3f4; // Background wrapper color - u
$light-gray: #D1DADE; // Default label, badget - check
$label-badget-color: #5E5E5E;
$light-blue: #f3f6fb;
$orange: #ff9100;
$orange-light: #fdbf68; // Cricle name background color
$green-dark: #689f38;
$light-normal-gray: #e7eaec;
$medi-gray: #F2FBFF; // For medication adding select color
$title-color: #2f4050;

// Side left side dropdown color
$dark-blue: #293847; // dropdown background color
$gray-divider: #e5e5e5; // divider color
$dark-black: #1a222b; // dropdown hover color
$brown: #646e79; // last login time color

// Spiner color and margin
$spin-color: $navy;
$spin-margin: 0 auto;

// IBOX colors ( default panel colors)
$border-color: $light-normal-gray; // IBox border
$ibox-title-bg: $white; // IBox Background header
$ibox-content-bg: $white; // IBox Background content
$ibox-headerfont-size: 16px; // IBox header font size

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1200px;
$boxed-backgound: url('assets/scss/patterns/shattered.png');

// Border radius for buttons
$btn-border-radius: 3px;

// Navigation
$nav-bg: #2F4050;
$nav-profil-pattern: url("assets/scss/patterns/header-profile.png");
$nav-text-color: #a7b1c2;

// Zero dimention values
$zero-dimentions: 0;

// Loading Bar Component
$loading-bar-z-index: 99999;
$loading-bar-height: 2px;
$loading-bar-opacity: 0;

/* This Marks the beginning of the Custom Variables that we are using apart form the
variables that are already provided by the scss file of Inspnia*/
$tick-sign: '✔';
$profile-avatar-color: #FDBF68;

// Breadcrumb Component
$breadcrumb-font-weight: bold;

// Carousel Component
$carousel-opacity: 0.1;
$carousel-opacity-hover: 1;
$carousel-button-color: $green;
$carousel-button-opacity: 0.65;
$carousel-text-color: $white;
$carousel-box-border-color: #aaa;

// Category-Box Component
// Checkbox Component
$checkbox-text-color: $white;
$checkbox-background-color: $white;
$checkbox-checked-background: #2C8F7B;
$checkbox-checked-disabled-background: #bdbebf;
$checkbox-checked-content: $tick-sign;
$checkbox-unchecked-content: '';

// Chip Component
$chip-text-color: #666;
$chip-background: $white;
$chip-font-weight: 600;
$chip-font-size: 8px;
$chip-border-radius: 0.25em;
$chip-border-color: rgba(102, 102, 102, .3);

//Combo-Box Component
$combo-box-background: $white;
$combo-box-text-color: $white;
$combo-box-custom-border: #a8b2c2;
$combo-box-custom-background: #a8b2c2;
$combo-box-checked-background: #2c8f7b;

// Count-Box Component
$count-box-border-radius: 5px;
$count-box-width: 80px;
$count-box-height: 80px;
$count-box-number-font-size: 26px;
$count-box-text-font-size: 9px;

// Dropdown Component
$dropdown-approve-status: $green;
$dropdown-reject-status: $red;

// Radio-box
$radio-circle-border-color: #d2d2d2;
$font-16: 16px;

/* This marks the start of the layout components and the variables associated with them */

// Dashboard Component
$dashboard-header-profile-avatar-background: $vetahealth-green; // Avatar background color
$dashboard-header-profile-avatar-size-min: 50px;
$dashboard-header-profile-avatar-size-mid: 70px;
$dashboard-header-profile-avatar-size-max: 80px;
$dashboard-header-profile-avatar-border-radius: 50%;
$dashboard-header-profile-avatar-text-color: $white;
$dashboard-header-profile-avatar-text-font-size: 18px;

// Care Plan Card Variables
$careplan-card-line-height: 16px;
$careplan-card-max-height: 82px;
$careplan-card-min-height: 82px;

// Vital Card Variables
$vital-card-height: 108px;

// Vetahealth Circular image
$vetahealth-product-logo: '../img/vetahealth/vh-logo-circle.png';
$vetahealth-text-logo: '../img/VH_Logo_Text.svg#Layer_1';

$md-checkbox-checked-color: rgb(51, 122, 183);
$md-checkbox-border-color: rgba(0, 0, 0, 0.54);
$md-checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);

$md-checkbox-margin: 1em 0;
$md-checkbox-size: 1.25em;
$md-checkbox-padding: .25em;
$md-checkbox-border-width: 2px;
$md-checkbox-border-radius: 0.125em;
$md-checkmark-width: 0.125em;
$md-checkmark-color: #fff;
$md-checkbox-label-padding: .75em;
