<div class="border-box" style="height: 218px;">
  <div class="sub-heading">Market Information
      <a *ngIf="link" [routerLink]="['/', 'mi']"><i class="link-external"></i></a>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-4 no-padding-right">
        <img [src]="product?.image" style="width: 100%; height: auto;" />
      </div>
      <div class="col-lg-4 p-l-xs">
        <div class="arrow-text">
          <i class="up-arrow"></i>
          <span>{{item?.positive}}%</span>
        </div>
      </div>
      <div class="col-lg-4 no-padding-left">
        <div class="arrow-text">
          <i class="down-arrow"></i>
          <span>{{item?.negative}}%</span>
        </div>
      </div>
    </div>
  </div>
</div>