<div class="row">
  <div class="col-lg-12">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">      
      <div class="pull-left menu-icon" (click)="toggleMenu()">
        <i class="fa fa-times"></i>
        <i class="fa fa-bars"></i>
      </div>      
      <div class="pull-right right-icons">
        <div class="search-icon"></div>
        <div class="print-icon"></div>
        <div class="trans-icon"></div>
        <div class="globle-icon"></div>
        <div class="login-icon"></div>
      </div>
      <div class="header-text">VCP Cockpit</div>
    </nav>
  </div>
</div>