<div class="sub-heading">{{title}}</div>
<div class="col-lg-12 row-dtl" *ngFor="let row of rows">
  <div class="col-lg-5 text-overflow" title="{{row.product}}">
    <img src="assets/img/{{row.icon}}" width="18px" height="18px" /> &nbsp;{{row.product}}</div>
  <div class="col-lg-2 no-padding text-overflow" title="{{row.points}}">{{row.points}}</div>
  <div class="col-lg-1 no-padding-right">{{row.dept_id}}</div>
  <div class="col-lg-4">
    <app-progress-success-failure [success]="getSuccess(row)" [failure]="getFailure(row)">
    </app-progress-success-failure>
  </div>
</div>