.keywords-list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    .keyword-items {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #dfdfdf;
        padding: 10px 10px 0;
        box-sizing: border-box;
        margin-right: 10px;
        margin-bottom: 10px;
        &:last-child {
            margin-right: 0;
        }
        .primary-keyword {
            margin-right: 10px;
            .primary-keyword-title {
                color: #ffffff;
                background-color: #303D74;
                padding: 0px 10px;
                line-height: 15px;
            }
        }
        .keyword-item {
            color: #292B33;
            background-color: #9AA7DA;
            line-height: 25px;
            padding: 0px 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
// .box-accordion {
//     .panel {
//         background-color: transparent;
//     }

//     &>.panel {
//         margin: 10px 0px;

//         .card {
//             margin: 10px 0px;
//             position: relative;
//             border-color: #333F73;
//             border-radius: 0px;
//             border-bottom-width: 0px;
//         }

//         .panel-heading {
//             background-color: transparent;
//             border: none;
//             padding: 0;

//             .box-title {
//                 position: absolute;
//                 top: -11px;
//                 left: 15px;
//                 line-height: 20px;
//                 padding: 2px 15px;
//                 background-color: #333F73;
//                 color: white;
//                 min-width: 90px;
//                 text-align: center;
//             }

//             &:after {
//                 content: "+";
//                 display: block;
//                 position: absolute;
//                 top: -11px;
//                 right: 15px;
//                 width: 20px;
//                 line-height: 20px;
//                 width: 20px;
//                 padding: 0;
//                 background-color: #333F73;
//                 color: white;
//                 text-align: center;
//                 font-size: 20px;
//             }
//         }

//         .panel-body {
//             border: none;
//             padding: 15px 15px 10px;
//         }
//     }

//     .panel-open {
//         .card {
//             border-bottom-width: 1px;
//         }

//         .panel-heading:after {
//             content: "-";
//             font-size: 20px;
//         }
//     }
// }

// ul.keywords-relation-list {
//     list-style: none;
//     padding: 0;
//     margin: 0;

//     &>li {
//         float: left;
//         margin: 5px 10px 5px 0;
//     }

//     &>li>div {
//         padding: 5px 5px;
//         background-color: #99A5D9;
//         color: #1B1B1B;
//         font-size: 11px;
//     }

//     &:after {
//         content: " ";
//         width: 0;
//         display: block;
//         clear: both;
//     }
// }