<div class="row">
  <div class="col-lg-12 no-padding white-bg">
    <div class="product-heading">{{product?.product}} - {{title}}
      <div class="pull-left">
        <i class="globle-icon global-width" *ngIf="country=='global'"></i> 
        <img [src]="getCountryImageName(country)" height="20" width="auto" *ngIf="country!='global'" /> 
        <span style="text-transform: capitalize; margin-left: 10px;">{{country}}</span>
      </div>
      <div class="pull-right">
        <a [routerLink]="['/', 'product-view', product?.p_id]" title="Back to product">
          <i class="fa fa-arrow-left"></i> Back
        </a>
      </div>
    </div>
    <img src="assets/img/VOC-page.jpg" style="width: 100%; height: auto;" />
  </div>
</div>