.product-heading {
    background-color: #303D74;
    color: #fff;
    padding: 9px;
    font-size: 14px;
    text-align: center;
    a {
        color: #fff;
    }
}

.global-width {
    width: 24px;
    height: 24px;
}