<div class="border-box">
    <div class="sub-heading">Voice of Store
      <i class="link-external"></i>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-1 row-heading no-padding-right">
          Id
        </div>
        <div class="col-lg-9 row-heading">
          Comments(s)
        </div>
        <div class="col-lg-2 row-heading text-center">
          Count
        </div>
      </div>
      <div class="col-lg-12 row-dtl-noborder" *ngFor="let item of items; let index = index;">
        <div class="col-lg-1 no-padding-right">
          {{index + 1}}
        </div>
        <div class="col-lg-6">
          {{item.comment}}
        </div>
        <div class="col-lg-3">
          <div class="best" *ngIf="index == 0">
            BEST
          </div>
          <div class="worst" *ngIf="index != 0">
            WORST
          </div>
        </div>
        <div class="col-lg-2 text-center">
          {{item.count}}
        </div>
      </div>
    </div>
  </div>