.full-page-wrapper {    
    .navbar-static-top {
        .menu-icon {
            .fa-times {
                display: none;
            }
            .fa-bars {
                display: inline;
            }
        }
    }

    .page-wrapper {
        display: flex;
        align-items: stretch;
        .side-nav-wrapper {
            min-width: 290px;
            background-color: #303D74;
        }
    }    
}

.page-content-wrapper {
    background-color: #f4f4f4;
}