.progress {
    margin-bottom: 0px;
    border-right: 0px;
}

.progress-bar {
    background-color: #4AB9E2;
}

.progress-cus {
    background-color: #B86A10;
}

.progress-red {
    background-color: #3495BD;
}