<div class="row">
  <div class="col-lg-12 no-padding white-bg">
    <div class="product-heading">{{product.product}}
      <div class="pull-left"><i class="globle-icon global-width"></i> Global</div>
    </div>
    <div class="col-lg-3">
      <div class="box-content">
        <div class="img-row">
          <div class="img-column" *ngFor="let img of product.details?.product_images?.slice(0,4)">
            <img src="{{img}}" style="width: 100%" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box-content">
        <div class="content-heading">
          High Level Recommendation
        </div>
        {{product.recommendations}}
      </div>
    </div>
    <div class="col-lg-5">
      <div class="box-content">
        <div class="content-heading">
          Product Details
        </div>       
        {{product.product_details}} 
      </div>
    </div>
  </div>
  <div class="row" *ngIf="product.details">
    <div class="col-lg-12">
      <div class="white-bg row" style="margin: 0;">
        <div class="col-lg-4">
          <app-product-voc-list [items]="getFirstCommentItem('voc')"></app-product-voc-list>
        </div>
        <div class="col-lg-4">
          <app-product-vos-list [items]="getFirstCommentItem('vos')"></app-product-vos-list>
        </div>
        <div class="col-lg-4">
          <app-product-market-info [product]="product" [item]="getFirstCommentItem('market_information')"></app-product-market-info>
        </div>
        <div class="col-lg-12">
          <app-product-keywords-relation 
          *ngIf="product.details" [keywords]="product.details.keyword_relationship">
          </app-product-keywords-relation>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="col-lg-12 white-bg m-t-md p-m" *ngIf="product.details">
    <div class="text-right">
      <button type="button" class="btn btn-primary compare m-r-md">
       <i class="compare-icon"></i> Compare Keywords</button>
      <button type="button" class="btn btn-primary m-r-md">
        <i class="print-icon pull-left"></i>Print</button>
      <button type="button" class="btn btn-primary m-r-md">
        <i class="export-icon pull-left"></i>Export</button>
      <button type="button" class="btn btn-primary">Collapse All</button>
    </div>
    <app-product-country-stats [product]="product"></app-product-country-stats>
  </div>
</div>