<div style="padding: 15px 5px;">
  <div class="col-lg-12 no-padding white-bg">
    <div class="product-heading">{{product.product}}</div>
    <div class="col-lg-3">
      <div class="box-content">
        Img
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box-content">
        <div class="content-heading">
          High Level Recommendation
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="box-content">
        <div class="content-heading">
         Keyword Relationship
        </div>
        <app-product-keywords-relation *ngIf="product.details" [keywords]="product.details.keyword_relationship"></app-product-keywords-relation>
      </div>
    </div>
  </div>
</div>
<div class="row" style="padding: 15px 5px;">
  <div class="col-lg-12">
    <app-product-country-stats></app-product-country-stats>
  </div>
</div>