<div class="row">
  <div class="col-lg-12 no-padding white-bg">
    <div class="product-heading">{{product.product}}
      <div class="pull-left"><i class="globle-icon global-width"></i> Global</div>      
    </div>
    <div class="col-lg-3">
      <div class="box-content">
        <div class="img-row">
          <div class="img-column" *ngFor="let img of product.details?.product_images?.slice(0,4)">
            <img src="{{img}}" style="width: 100%" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box-content" style="height: 224px;">
        <div class="content-heading">
          High Level Recommendation
        </div>
        <div class="p-t-md box-height" title="{{product.recommendations}}" style="-webkit-box-orient: vertical;">{{product.recommendations}}</div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="box-content" style="height: 224px;">
        <div class="content-heading">
          Product Details
        </div>       
        <div class="p-t-md box-height" title="{{product.product_details}}" style="-webkit-box-orient: vertical;">{{product.product_details}}</div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="product.details">
    <div class="col-lg-12">
      <div class="white-bg row" style="margin: 0;">
        <div class="col-lg-4">
          <app-product-voc-list [productId]="product.p_id" country="global" [items]="getFirstCommentItem('voc')"></app-product-voc-list>
        </div>
        <div class="col-lg-4">
          <app-product-vos-list [productId]="product.p_id" country="global" [items]="getFirstCommentItem('vos')"></app-product-vos-list>
        </div>
        <div class="col-lg-4">
          <app-product-market-info [product]="product" country="global" [item]="getFirstCommentItem('market_information')"></app-product-market-info>
        </div>
        <div class="col-lg-12">
          <div class="sub-heading">Keyword Analytics</div>
          <app-product-keywords-relation 
          *ngIf="product.details" [keywords]="product.details.keyword_relationship">
          </app-product-keywords-relation>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="col-lg-12 white-bg m-t-md p-m" *ngIf="product.details">
    <app-product-country-stats [product]="product"></app-product-country-stats>
  </div>
</div>