.product-heading {
    background-color: #333F73;
    color: #fff;
    padding: 9px;
    font-size: 16px;
    text-align: center;
}

.box-content {
    box-shadow: 0px 0px 1px #d2d2d2;
    height: 200px;
    margin: 20px 0;
    padding: 15px;
}

.content-heading {
    color: #445499;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #445499;
}

.btn-primary {
    background-color: #333F73;
    color: #f4f4f4;
    border-radius: 0px;
    min-width: 110px;
    margin-bottom: 10px;
    border: 0px;
}

.btn-primary:active {
    background-color: #777f9e;
    color: #f4f4f4;
}

.text-right {
    text-align: right;
}