.product-heading {
    background-color: #303D74;
    color: #fff;
    padding: 9px;
    font-size: 14px;
    text-align: center;
}

.global-width {
    width: 24px;
    height: 24px;
}

.box-content {
    box-shadow: 0px 0px 1px #d2d2d2;
    /* height: 200px; */
    margin: 20px 0;
    padding: 15px;
}

.content-heading {
    color: #445499;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #445499;
}

.btn-primary {
    background-color: #5B68D3;
    color: #f4f4f4;
    border-radius: 0px;
    min-width: 110px;
    margin-bottom: 10px;
    border: 0px;
}

.compare {
    width: 196px;
}

.print-icon {
    height: 21px;
}

.btn-primary:active {
    background-color: #777f9e;
    color: #f4f4f4;
}

.text-right {
    text-align: right;
}

.img-row {
    display: -ms-flexbox;
    /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE 10 */
    flex-wrap: wrap;
}

/* Create two equal columns that sits next to each other */
.img-column {
    -ms-flex: 50%;
    /* IE 10 */
    flex: 50%;
}

.sub-heading {
    padding: 25px 15px 10px;
    text-align: center;
    font-size: 12px;
    color: #5a5a5a;
    border-bottom: 0px;
    font-weight: 600;
}

.box-height {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}