.navbar-static-side {
    z-index: 2001;
    position: fixed;
    left: 0;
    top: 45px;
    width: 0;
    overflow: hidden;
    height: calc(100% - 45px);
    background-color: rgba(0,0,0,0.1);
    

    .sidebar-collapse {
        height: 100%;

        .metismenu {
            width: 0;
            overflow: hidden;
            height: 100%;
            background-color: white;
            transition: all ease-in 500ms;
        }
    }
}
.navbar-footer{
    position: fixed;
    bottom: 0;
    width:100%;
}
a.disabled {
   pointer-events: none;
   cursor: default;
}
.patient-name-circle{
    width: 50px;
    height: 50px;
}
.label.label-danger {
    border-radius: 50%;
    top: 6px;
    right: inherit;
}
a:active,
a:focus {
  outline: none;
  -moz-outline-style: none;
  -webkit-outline-style: none;
}


.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
    background: transparent;
    color: #445499;
}

.nav > li.active > a {
  color: #445499;
}


.nav>li>a{
    padding: 10px;
}

.nav > li.active-menu{
    // border-left: 4px solid #19aa8d;
    // background: #293846;
}

.nav > li.active-menu > a{
    color: #445499;
}

.nav > li.active.modal-active, .nav > li.active-menu.modal-active{
    border-left: 0;
    background: inherit;
}

