<nav class="navbar-default" role="navigation" [class.with-filter-box]="!hideFilter">
  <div class="sidebar-wrapper" #sideMenu>
    <ul class="nav metismenu" id="side-menu">
      <li class="no_hover">
        <a class="no_hover">
          <i class="user_img"></i>
          <!-- <span class="nav-label">Hanako Yamade</span> -->
          <span class="nav-label">山出花子</span>
          <i class="notifaction"></i>
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/dashboard']">
          <i class="dashboard"></i>
          <!-- <span class="nav-label">Dashboard</span> -->
          <span class="nav-label">ダッシュボード</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/voc']">
          <i class="voc"></i>
          <!-- <span class="nav-label">Voice of Customer</span> -->
          <span class="nav-label">お客様の声</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/vos']">
          <i class="vos"></i>
          <!-- <span class="nav-label">Voice of Store</span> -->
          <span class="nav-label">店の声</span>
        </a>
      </li>
      <li class="disabled">
        <a>
          <i class="mi"></i>
          <!-- <span class="nav-label">Market Information</span> -->
          <span class="nav-label">市場情報</span>
        </a>
      </li>
      <li class="disabled">
        <a>
          <i class="setting"></i>
          <!-- <span class="nav-label">Setting</span> -->
          <span class="nav-label">設定</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="filter-box-wrapper">
    <app-filter-box></app-filter-box>
  </div>
</nav>