<nav class="navbar-default" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav">
      <li>
          <img src="assets/img/uniqlo.logo.png" class="sidebar-logo" />
      </li>
      <li routerLinkActive="active">
        <a routerLink="/">
          <span class="nav-label">Dashboad</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/">
          <span class="nav-label">VOC</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/">
          <span class="nav-label">VOS</span>
        </a>
      </li>
    </ul>
  </div>
</nav>