<!-- <div class="row">
  <div class="col-lg-12 no-padding">
    <div class="wrapper wrapper-content white-bg text-center">
      <div class="row">
        <div class="col-lg-12 no-padding">
          <div class="col-lg-3">
            <button type="button" (click)="toogleFilter('department', 'women')"
              [ngClass]="filterButtonClass('department', 'women')" class="btn width-75 m-r-sm">Women</button>
            <button type="button" (click)="toogleFilter('department', 'men')"
              [ngClass]="filterButtonClass('department', 'men')" class="btn width-75 m-r-sm">Men</button>
            <div class="dropdown inline-block">
              <button class="btn width-95" type="button">Kids / Baby</button>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="dropdown inline-block">
              <button class="btn btn-default width-150 m-r-sm dropdown-toggle" type="button"
                data-toggle="dropdown">Country
                <span class="caret dropdown-position"></span></button>
              <ul class="dropdown-menu">
                <li *ngFor="let ctry of country" (click)="toogleFilter('country', ctry.display)">
                  <a>{{ctry.display}}</a></li>
              </ul>
            </div>
            <div class="dropdown inline-block">
              <button class="btn btn-default width-150 m-r-sm dropdown-toggle" type="button"
                data-toggle="dropdown">Category
                <span class="caret dropdown-position"></span></button>
              <ul class="dropdown-menu">
                <li *ngFor="let cat of category"><a>{{cat.display}}</a></li>
              </ul>
            </div>
            <div class="dropdown inline-block">
              <button class="btn btn-default width-150 m-r-sm dropdown-toggle" type="button" data-toggle="dropdown">Sub
                Category
                <span class="caret dropdown-position"></span></button>
              <ul class="dropdown-menu">
                <li *ngFor="let subcat of sub_category"><a>{{subcat.display}}</a></li>
              </ul>
            </div>
            <div class="dropdown inline-block">
              <button class="btn btn-default width-120 m-r-sm dropdown-toggle" type="button" data-toggle="dropdown">Age
                <span class="caret dropdown-position"></span></button>
              <ul class="dropdown-menu">
                <li *ngFor="let age of age_cat"><a>{{age.display}}</a></li>
              </ul>
            </div>
            <div class="dropdown inline-block">
              <button class="btn btn-default width-120 m-r-sm dropdown-toggle" type="button" data-toggle="dropdown">Size
                <span class="caret dropdown-position"></span></button>
              <ul class="dropdown-menu">
                <li *ngFor="let size of size_cat"><a>{{size.display}}</a></li>
              </ul>
            </div>
            <div class="dropdown inline-block">
              <button class="btn btn-default width-120 m-r-sm dropdown-toggle" type="button"
                data-toggle="dropdown">Fabric
                <span class="caret dropdown-position"></span></button>
              <ul class="dropdown-menu">
                <li *ngFor="let fab of fabric_cat"><a>{{fab.display}}</a></li>
              </ul>
            </div>
            <div class="dropdown inline-block">
              <button class="btn btn-default width-120 dropdown-toggle" type="button" data-toggle="dropdown">Color
                <span class="caret dropdown-position"></span></button>
              <ul class="dropdown-menu">
                <li *ngFor="let color of color_cat"><a>{{color.display}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-lg-12 box-heading">
    Voice of Customer
  </div>
  <div class="col-lg-12 no-padding">
    <div class="col-lg-6 box-color no-padding-left">
      <div class="col-lg-12 no-padding border-all">
        <div class="sub-heading">Opportunities: Products with Top Ratings</div>
        <div class="col-lg-12 row-heading">
          <div class="col-lg-1">
            Id
          </div>
          <div class="col-lg-4 no-padding">
            Part Number
          </div>
          <div class="col-lg-2 text-center">
            Dep ID
          </div>
          <div class="col-lg-3">
            Evaluation(Average)
          </div>
          <div class="col-lg-2 text-center">
            Comments
          </div>
        </div>
        <div class="col-lg-12 row-dtl" *ngFor="let top of toprating; let index = index;" (click)="goToProductView(top)">
          <div class="col-lg-1">
            {{index + 1}}
          </div>
          <div class="col-lg-4 text-overflow no-padding" title="{{top.product}}">
            <img src="assets/img/{{top.icon}}" width="18px" height="18px" /> &nbsp;<span
              class="cursor">{{top.product}}</span>
          </div>
          <div class="col-lg-2 text-center">
            {{top.dept_id}}
          </div>
          <div class="col-lg-3">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="top.evaluation" aria-valuemin="0"
                aria-valuemax="100" [style.width.%]="(top.evaluation / 5) * 100">
                {{displayTwoDigitsDecimal(top.evaluation)}}
              </div>
            </div>
          </div>
          <div class="col-lg-2 text-center">
            {{sumComments(top)}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 box-color no-padding-right">
      <div class="col-lg-12 no-padding border-all">
        <div class="sub-heading">Risks: Products with Low Ratings</div>
        <div class="col-lg-12 row-heading">
          <div class="col-lg-1">
            Id
          </div>
          <div class="col-lg-4 no-padding">
            Part Number
          </div>
          <div class="col-lg-2 text-center">
            Dep ID
          </div>
          <div class="col-lg-3">
            Evaluation(Average)
          </div>
          <div class="col-lg-2 text-center">
            Comments
          </div>
        </div>
        <div class="col-lg-12 row-dtl" *ngFor="let low of lowrating; let index = index;" (click)="goToProductView(low)">
          <div class="col-lg-1">
            {{index + 1}}
          </div>
          <div class="col-lg-4 text-overflow no-padding" title="{{low.product}}">
            <img src="assets/img/{{low.icon}}" width="18px" height="18px" /> &nbsp;<span
              class="cursor">{{low.product}}</span>
          </div>
          <div class="col-lg-2 text-center">
            {{low.dept_id}}
          </div>
          <div class="col-lg-3">
            <div class="progress">
              <div class="progress-bar red" role="progressbar" aria-valuenow="low.evaluation" aria-valuemin="0"
                aria-valuemax="100" [style.width.%]="(low.evaluation / 5) * 100">
                {{displayTwoDigitsDecimal(low.evaluation)}}
              </div>
            </div>
          </div>
          <div class="col-lg-2 text-center">
            {{sumComments(low)}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-12 box-heading">
    Voice of Store
  </div>
  <div class="col-lg-12 no-padding">
    <div class="col-lg-3 box-color border-all no-padding-right no-padding-left" *ngFor="let box of VOSboxes;">
      <app-voice-store-table [title]="box.title" [param]="box.param" limit="10"></app-voice-store-table>
    </div>
  </div>
</div>
