<!-- <ng5-slider class="custom-slider" [(value)]="value" [options]="options"></ng5-slider> -->
<div class="row">
  <div class="col-lg-12 no-padding">
    <div class="wrapper wrapper-content white-bg">
      <!-- <ng-content select="[dashboard-body-locator]"></ng-content> -->
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-4">
            <button type="button" class="btn btn-default">Women</button>
            <button type="button" class="btn btn-default">Men</button>
            <div class="dropdown inline-block">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Kids
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Boys</a></li>
                <li><a href="#">Girls</a></li>
                <li><a href="#">Baby</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="dropdown inline-block">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Country
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li *ngFor="let ctry of country"><a (click)='changeCountry(ctry.id)'>{{ctry.display}}</a></li>
              </ul>
            </div>
            <div class="dropdown inline-block">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Category
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
            </div>
            <div class="dropdown inline-block">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sub Category
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
            </div>
            <div class="dropdown inline-block">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Age
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
            </div>
            <div class="dropdown inline-block">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Size
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
            </div>
            <div class="dropdown inline-block">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Fabric
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
            </div>
            <div class="dropdown inline-block">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Color
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="heading">
  Voice of Customer
</div>
<div class="row">
  <div class="col-lg-12 no-padding">
    <div class="col-lg-6 box-color no-padding-left">
      <div class="col-lg-12 no-padding border-all">
        <div class="sub-heading">Oppurtunities: Product with Top Rating</div>
        <div class="col-lg-12 row-heading">
          <div class="col-lg-1">
            Id
          </div>
          <div class="col-lg-4">
            Part Number
          </div>
          <div class="col-lg-2">
            Dep ID
          </div>
          <div class="col-lg-3">
            Evaluation(Average)
          </div>
          <div class="col-lg-2">
            Comments
          </div>
        </div>
        <div class="col-lg-12 row-dtl">
          <div class="col-lg-1">
            1
          </div>
          <div class="col-lg-4">
            420110 Cotton Relax Fit Crew Neck Long-Sleeve T-Shirt
          </div>
          <div class="col-lg-2">
            34
          </div>
          <div class="col-lg-3">
            -
          </div>
          <div class="col-lg-2">
            28
          </div>
        </div>
        <div class="col-lg-12 row-dtl">
          <div class="col-lg-1">
            2
          </div>
          <div class="col-lg-4">
            420001 Means
          </div>
          <div class="col-lg-2">
            34
          </div>
          <div class="col-lg-3">
            -
          </div>
          <div class="col-lg-2">
            28
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 box-color no-padding-right">
      <div class="col-lg-12 no-padding border-all">
        <div class="sub-heading">Risk: Product with Low Rating</div>
        <div class="col-lg-12 row-heading">
          <div class="col-lg-1">
            Id
          </div>
          <div class="col-lg-4">
            Part Number
          </div>
          <div class="col-lg-2">
            Dep ID
          </div>
          <div class="col-lg-3">
            Evaluation(Average)
          </div>
          <div class="col-lg-2">
            Comments
          </div>
        </div>
        <div class="col-lg-12 row-dtl">
          <div class="col-lg-1">
            1
          </div>
          <div class="col-lg-4">
            4210001 Womens
          </div>
          <div class="col-lg-2">
            27
          </div>
          <div class="col-lg-3">
            -
          </div>
          <div class="col-lg-2">
            28
          </div>
        </div>
        <div class="col-lg-12 row-dtl">
          <div class="col-lg-1">
            2
          </div>
          <div class="col-lg-4">
            4210001 Womens
          </div>
          <div class="col-lg-2">
            27
          </div>
          <div class="col-lg-3">
            -
          </div>
          <div class="col-lg-2">
            28
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="heading">
  Voice of Store
</div>
<div class="row">
  <div class="col-lg-12 no-padding">
    <div class="col-lg-3 box-color border-all no-padding-right no-padding-left">
      <div class="sub-heading">Improvements</div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">1 &nbsp; 420110 Cotton Relax Fit Crew Neck Long-Sleeve T-Shirt</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">2 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">3 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
    </div>
    <div class="col-lg-3 box-color border-all no-padding-right no-padding-left">
      <div class="sub-heading">Non-Purchase</div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">1 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">2 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">3 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
    </div>
    <div class="col-lg-3 box-color border-all no-padding-right no-padding-left">
      <div class="sub-heading">Without Future</div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">1 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">2 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">3 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
    </div>
    <div class="col-lg-3 box-color border-all no-padding-right no-padding-left">
      <div class="sub-heading">New Suggestion</div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">1 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">2 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
      <div class="col-lg-12 row-dtl">
        <div class="col-lg-5">3 &nbsp; 12323 Means</div>
        <div class="col-lg-5">XS Size &nbsp; 34</div>
      </div>
    </div>
  </div>
</div>