<nav class="navbar-default navbar-static-side" role="navigation" style="0px">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu" #sideMenu>
      <li>
        <img src="assets/img/uniqlo.logo.png" style="height:40px;padding:5px;" />
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/dashboard']">
          <span class="dashboard"></span>
          <span class="nav-label">Dashboad</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/voc']">
          <div class="voc"></div>
          <span class="nav-label">VOC</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/vos']">
          <div class="voc"></div>
          <span class="nav-label">VOS</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['']">
          <div class="mi"></div>
          <span class="nav-label">MI</span>
        </a>
      </li>
    </ul>
  </div>
</nav>