<accordion [isAnimated]="true">
  <accordion-group isOpen="true" *ngFor="let stats of country_stats; let index = index"
    panelClass="product-country-list">
    <div accordion-heading>
      <span class="country-checkbox">
        <label class="container">
          <input type="checkbox" (click)="clickCountrySelection(stats, $event)" checked="checked"
            [checked]="stats.checked">
          <span class="checkmark"></span>
        </label>
      </span>
      <span style="padding-left: 30px;">
        <span [class]="'flag-icon flag-icon-' + stats.code"></span>
        {{stats.country}}
      </span>
    </div>
    <div class="row">
      <div class="col-lg-12 no-padding">
        <div class="col-lg-4 no-padding">
          <div class="border-box">
            <div class="sub-heading">Voice of Customer</div>
            <div class="col-lg-12 row-heading">
              <div class="col-lg-1">
                Id
              </div>
              <div class="col-lg-9">
                Comments(s)
              </div>
              <div class="col-lg-2 text-center">
                Count
              </div>
            </div>
            <div class="col-lg-12 row-dtl">
              <div class="col-lg-1">
                1
              </div>
              <div class="col-lg-9">
                jee
              </div>
              <div class="col-lg-2 text-center">
                36
              </div>
            </div>
            <div class="col-lg-12 row-dtl">
              <div class="col-lg-1">
                1
              </div>
              <div class="col-lg-9">
                jee
              </div>
              <div class="col-lg-2 text-center">
                36
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="border-box">
            <div class="sub-heading">Voice of Store</div>
            <div class="col-lg-12 row-heading">
              <div class="col-lg-1">
                Id
              </div>
              <div class="col-lg-9">
                Comments(s)
              </div>
              <div class="col-lg-2 text-center">
                Count
              </div>
            </div>
            <div class="col-lg-12 row-dtl">
              <div class="col-lg-1">
                1
              </div>
              <div class="col-lg-6">
                jee
              </div>
              <div class="col-lg-3">
                <div class="best">
                  BEST
                </div>
              </div>
              <div class="col-lg-2 text-center">
                36
              </div>
            </div>
            <div class="col-lg-12 row-dtl">
              <div class="col-lg-1">
                1
              </div>
              <div class="col-lg-6">
                jee
              </div>
              <div class="col-lg-3">
                <div class="worst">
                  WORST
                </div>
              </div>
              <div class="col-lg-2 text-center">
                36
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 border-box no-padding">
          <div class="sub-heading">Market Information</div>
        </div>
      </div>
    </div>
  </accordion-group>
</accordion>