<div class="text-right">
    <button type="button" class="btn btn-primary compare m-r-md">
     <i class="compare-icon"></i> Compare Keywords</button>
    <button type="button" class="btn btn-primary m-r-md">
      <i class="print-icon pull-left"></i>Print</button>
    <button type="button" class="btn btn-primary m-r-md">
      <i class="export-icon pull-left"></i>Export</button>
    <button type="button" class="btn btn-primary" (click)="toggleAll()">
      {{ openAll ? 'Collapse All' : 'Expand All' }}
    </button>
  </div>
  <accordion [isAnimated]="true">
  <accordion-group 
      *ngFor="let stats of product.details?.comments; let index = index;" 
      [isOpen]="stats.opened" 
      (isOpenChange)="onOpenChangePanel($event, stats)" 
      panelClass="product-country-list">
    <div accordion-heading>
      <span class="country-checkbox" (click)="clickCountrySelection(stats, $event)">
        <input type="checkbox" [checked]="stats.checked" />
        <span class="checkmark"></span>
      </span>
      <span style="padding-left: 30px;">
        <img [src]="getCountryImageName(stats.country)" height="20" width="auto" />
        <span style="padding-left: 12px;">{{stats.country}}</span>
      </span>
    </div>
    <div class="row">
      <div class="col-lg-12 no-padding">
        <div class="row">
          <div class="col-lg-4">
            <app-product-voc-list [items]="stats.voc"></app-product-voc-list>
          </div>
          <div class="col-lg-4">
            <app-product-vos-list [items]="stats.vos"></app-product-vos-list>
          </div>
          <div class="col-lg-4">
            <app-product-market-info [product]="product" [item]="stats.market_information"></app-product-market-info>
          </div>
          <div class="col-lg-12">
            <div class="key-heading">Keyword Analytics</div>
            <app-product-keywords-relation 
            *ngIf="product.details" [keywords]="product.details.keyword_relationship">
            </app-product-keywords-relation>
          </div>
        </div>
      </div>
    </div>
  </accordion-group>
</accordion>